<style>
  .navbar-logo {
    height: 40px; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
  }
</style>

<hr>
<div class="post_navi">
  {%- if page.previous.url -%}
  <a class="post_navi-item nav_prev" href="{{ page.previous.url }}" title="{{ page.previous.title }}">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Previous Post</div><div><span>{{ page.previous.title }}</span></div>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_prev" href="{{ 'archive.html' | absolute_url }}" title="Blog Archive">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Blog Archive</div><div><span>Archive of all previous blog posts</span></div>
  </a>
  {%- endif -%}
  {%- if page.next.url -%}
  <a class="post_navi-item nav_next" href="{{ page.next.url }}" title="{{ page.next.title }}">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Next Post</div><div><span>{{ page.next.title }}</span></div>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_next" href="{{ 'archive.html' | absolute_url }}" title="Blog Archive">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Blog Archive</div><div><span>Archive of all previous blog posts</span></div>
  </a>
  {%- endif -%}
  <a href="{{ '/cv/' | relative_url }}">CV</a>
  <header class="site-header" role="banner">
    <div class="wrapper">
      <a class="site-title" href="{{ '/' | relative_url }}">
        <img src="/images/scienceyisu.png" alt="Logo" class="navbar-logo">
        {{ site.title }}
      </a>
    </div>
  </header>
</div>